:root {
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { font-size: 62.5%; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}




/* CSS Hamburger Menu ====================== */
#menu-btn {   
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 8em;
    /* border: 3px solid var(--white);  */  /*   <-- BORDER OPCIONAL */
    cursor: pointer;
    transition: all .5s ease-in-out;    

    /* OBS: Para Aumentar ou Diminuir o Botão, altere o Valor Abaixo. 
    Exemplo: 1em valor padrão, 0.5em metade do tamanho */
    font-size: 1em; 
}

#burger-btn { 
    width: 5em;
    height: .6em;
    background-color: var(--white);
    border-radius: .5em;
    transition: all .5s ease-in-out;
}

#burger-btn::before, 
#burger-btn::after {
    content: '';
    position: absolute;
    width: 5em;
    height: .6em;
    background-color: var(--white);
    border-radius: .5em;
    transition: all .5s ease-in-out;
}

#burger-btn::before {
    transform: translateY(-1.6em);
}

#burger-btn::after {
    transform: translateY(1.6em);
} 

/* CSS ANIMATION */
input#menu:checked + label #burger-btn {
    transform: translateX(-5em);
    background-color: transparent;
}

input#menu:checked + label #burger-btn::before {
    transform: 
    rotate(45deg) 
    translate(3.5em, -3.5em);
}

input#menu:checked + label #burger-btn::after {
    transform: 
    rotate(-45deg) 
    translate(3.5em, 3.5em);
}

/* CLOSE INPUT */
input {
    display: none;
}