body {
    background-color: var(--color1);
}

header {
    background-color: var(--color2);
}

header .center {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

header #logo a {
    font-weight: normal;
}

header #logo span {
    color: var(--color3);
}

header ul {
    display: flex;  
    list-style: none;

}

ul li {    
    margin-right: 12px;
    line-height: 60px;
    position: relative;
    background-color: var(--color2);
}

ul a {
    padding: 12px;
    transition: .3s;
}

ul a:hover {
    color: var(--color3);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  vertical-align: middle;
}




ul ul {
    position: absolute;    
    flex-direction: column;
    width: 150px;
    margin-top: 30px;
    border-top: 4px solid var(--color3);      
    visibility: hidden;
    opacity: 0;
    transition: .5s;  
}

ul li:hover ul {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}

ul ul li {
    margin: 0;
    line-height: 38px;
}

ul ul a {
    padding: 0 0 0 12px;
    display: block;
}
